<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
      <meta http-equiv="content-type" content="text/html; charset=windows-1250">
      <title>{{ title }}</title>
      <!-- // ico generated at https://avatars.dicebear.com/ and then converted  -->
      <link rel="icon" href="phpboilerplate.png">
      <!-- // style sheet comes from https://andybrewer.github.io/mvp/ -->
      <link href="css/mvp.css" rel="stylesheet">
  </head>
  <body>
      <main>
  {{ content }}
    </main>
  </body>
</html>
